[Unit]
Description=One-shot dyndns
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/dyndns/dyndns
RemainAfterExit=true
EnvironmentFile=/etc/dyndns/%i

[Install]
WantedBy=multi-user.target